<routes>
    <route controller="">
        <uri code="de-de" value="/"></uri>
        <uri code="fr-de" value="/"></uri>
    </route>
    <route controller="/About::overview">
        <uri code="de-de" value="about/"></uri>
        <subroutes>
            <route controller="/About::history">
                <uri code="de-de" value="history"></uri>
                <subroutes>
                    <route controller="/About::historyTimeline">
                        <uri code="de-de" value="timeline"></uri>
                    </route>
                </subroutes>
            </route>
        </subroutes>
    </route>
</routes>