<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/gluecks-gmbh/base/master/libs/routes.xsd">
    <route controller="/Website::homepage">
        <uri code="de-de" value="/"></uri>
    </route>
</routes>